/*Reset Styles*/
[class|="cw"],
[class|="cw"] * {
  -moz-box-sizing: border-box; /* prefixed on firefox until 2014*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
}
/* End Reset */
.cw-body {
  min-height: 100vh;
  font: 400 16px 'Lato', system-ui, Segoe UI, -apple-system, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  color: #5d5d5d;
}
.cw-home {
  position: relative;
  background: linear-gradient(90deg, #d63f19 50%, rgba(249, 160, 30, 1) 100%);
  display: flex;
  flex-direction: column;
}
[class|="cw-header"] {
  padding-bottom: 80px;
  background: linear-gradient(2deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 85px, rgba(93, 93, 93, 0.75) 100px, rgb(255, 255, 255) 100px);
  top: 0;
}
.cw-hide {
  display: none;
}
.cw-headercontent {
  display: flex;
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
  justify-content: space-between;
}
.cw-logo img {
  width: 280px;
  margin: 48px 48px 24px 16px;
}
/* Navigation Menu */
.cw-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}
/* Divider to break the top and bottom parts of the desktop navigation*/
.cw-nav-list:before {
  content: "";
  flex: 1 1 100%;
  order: 2;
}
[class|=cw-nav-item] {
  padding-top: 16px;
  text-align: center;
  position: relative; /* for absolutely positioned submenus */
  order: 3;
}
.cw-nav-clicktarget { /* anchors or text*/
  display: inline-block;
  font: 700 1em 'Exo 2';
  text-decoration: none;
  color: #5d5d5d;
  text-transform: uppercase;
  padding: 8px 16px;
}
/* First Row of navigation items */
.cw-nav-item-top {
  padding-top: 24px;
  order: 1;
}
.cw-nav-item-top .cw-nav-clicktarget {
  border-left: 1px solid #5d5d5d;
  padding: 4px 24px;
  text-transform: none;
  font: 400 1em 'Lato';
}
.cw-nav-list .cw-nav-item-top:first-of-type .cw-nav-clicktarget {
  border: none;
}
.cw-nav-list .cw-nav-cart {
}
.cw-nav-list .cw-nav-cart .cw-nav-clicktarget {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  border: none;
  text-align: center;
}
.cw-nav-cart img {
  width: 48px;
}
.cw-nav-cart .cw-cart-items {
  position: absolute;
  width: 100%;
  font: 700 14px 'Exo 2';
  color: #fff;
  top: 8px;
  left: 0;
}
/* Submenus */
.cw-nav-sublist {
  list-style: none;
  position: absolute;
  display: none;
}
.cw-nav-item:hover .cw-nav-sublist {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  width: 12em;
  left: 50%;
  margin-left: -100%;
  box-shadow: 0 6px 6px 0 rgba(50, 50, 50, 0.25);
  background: #fff;
}
#cw-mobilemenu {
  display: none;
}
/* Footer */
.cw-footer-teal {
  background: linear-gradient(2deg, rgba(93, 93, 93, 1) 70.7%, rgba(93, 93, 93, 1) 71%, rgba(93, 93, 93, 0.5) 71%, rgba(75, 75, 75, 0) 74%) #006b6b;
  padding: 140px 0 32px 0;
}
.cw-footer-orange {
  background: linear-gradient(2deg, rgba(93, 93, 93, 1) 70.7%, rgba(93, 93, 93, 1) 71%, rgba(93, 93, 93, 0.5) 71%, rgba(75, 75, 75, 0) 74%) #d63f19;
  padding: 140px 0 32px 0;
}
.cw-footer-trans {
  background: linear-gradient(2deg, rgba(93, 93, 93, 1) 70.7%, rgba(93, 93, 93, 1) 71%, rgba(93, 93, 93, 0.5) 71%, rgba(75, 75, 75, 0) 74%);
  padding: 140px 0 32px 0;
}
[class|="cw-footer"] {
  display: flex;
  padding: 64px 0;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: #5d5d5d;
}
[class|="cw-footer"] p,
[class|="cw-footer"] nav {
  max-width: 1312px;
  font-size: 0.75em;
}
[class|="cw-footer"] p {
  padding: 0 32px;
}
[class|="cw-footer"] nav ul {
  list-style: none;
  margin: 2rem;
  display: flex;
}
[class|="cw-footer"] nav ul a {
  padding: 6px 12px;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}
.cw-copyright {
  padding-top: 32px;
  font-size: 0.75em;
}
/* Other shared items */
[class|="cw-button"] {
  display: flex;
  align-items: center;
  padding: 12px 48px;
  font: 400 1em "Exo 2";
  text-transform: uppercase;
  color: #fff;
  background: #006b6b;
  border: 1px solid #006b6b;
  border-radius: 5px;
  cursor: pointer;
}
[class|="cw-button"]:after {
  flex: 0 0 12px;
  display: inline-block;
  padding-left: 12px;
  width: 12px;
  content: url("../IMG/cw-triArrow-white.svg");
}
.cw-button-orange {
  text-transform: uppercase;
  color: #d63f19;
  background: #fff;
  border: 1px solid #fff;
}
.cw-button-orange:hover {
  background: #d63f19;
  border: 1px solid #fff;
  color: #fff;
}
.cw-button-orange:after {
  content: url("../IMG/cw-triArrow-orange.svg");
}
.cw-button-orange:hover:after {
  content: url("../IMG/cw-triArrow-white.svg");
}
.cw-button:hover {
  background: #c3ecec;
  border: 1px solid #006b6b;
  color: #006b6b;
}
.cw-button:hover:after {
  content: url("../IMG/cw-triArrow-teal.svg");
}
.cw-cta:after {
  content: url("../IMG/cw-triArrow.svg");
}
/*  -------------------------------------- Home / Advantages Modules  ----------------------------------------   */
.cw-advantages {
  background: #d63f19;
}
[class|="cw-module"]:first-of-type {
  padding-top: 64px;
  border: none;
}
.cw-module-white {
  background: #fff;
}
.cw-module-orange {
  background: #d63f19;
}
.cw-module-orangetop {
  background: linear-gradient(#d63f19 140px, #fff 140px);
}
.cw-module-whitetop {
  background: linear-gradient(#fff 140px, #d63f19 140px);
}
.cw-module-whitetopshadow {
  background: linear-gradient(#fff 140px, #b33414 140px, #d63f19 156px);
}
[class|="cw-modulecontent"] {
  align-items: center;
  padding: 0 64px;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}
.cw-moduline {
  border-bottom: 1px solid #006b6b;
}
.cw-module-orangetop [class|="cw-moduletext"],
.cw-module-whitetopshadow [class|="cw-moduletext"],
.cw-module-whitetop [class|="cw-moduletext"] {
  margin-top: 150px;
}
.cw-modulecontent-5050 [class|="cw-moduletext"] {
  flex: 1 0 50%;
}
.cw-modulecontent-golden [class|="cw-moduletext"] {
  flex: 1 0 38.197%;
}
[class|="cw-moduletext"] {
  padding: 32px;
}
[class|="cw-moduletext"] h3 {
  font: 400 2rem 'Exo 2';
  padding-bottom: 16px;
  color: #006b6b;
}
.cw-moduletext-inv,
.cw-moduletext-inv h3 {
  color: #fff;
}
[class|="cw-moduletext"] p {
  line-height: 1.5;
  padding-bottom: 16px;
}
.cw-moduleshadow {
  box-shadow: inset 0px -16px 8px -6px rgba(50, 50, 50, 0.2);
}
.cw-moduletopshadow {
  box-shadow: inset 0px 16px 8px -6px rgba(50, 50, 50, 0.2);
}
[class|="cw-moduleimg"] {
  display: flex;
  padding: 32px;
  justify-content: center;
}
[class|="cw-moduleimg"] img {
  max-width: 100%;
}
.cw-modulecontent-5050 [class|="cw-moduleimg"] {
  flex: 0 5 50%;
}
.cw-modulecontent-golden [class|="cw-moduleimg"] {
  flex: 0 5 61.803%;
}
.cw-moduleimg-bottom {
  padding-bottom: 0;
  align-self: flex-end;
  /*z-index: -1;*/
}
/*  ----------------------------- Tabbed Component (Advantages coverage maps)  ------------------------------   */
.cw-moduleimg-tabs {
  flex-direction: column;
}
.cw-tab-inv {
  display: none;
}
.cw-tabs {
  display: flex;
  flex-wrap: wrap;
}
.cw-tab {
  flex: 0 1 calc(50% - 32px);
  padding: 16px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  margin: 0 16px;
  box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.32);
  font: 400 1em "Exo 2";
  text-transform: uppercase;
}
#cw-radiotab1:checked ~ #cw-labeltab1 {
  background: linear-gradient(90deg, #f0f0f0 0%, #fff 40%);
  color: #ed6906;
}
#cw-radiotab2:checked ~ #cw-labeltab2 {
  background: linear-gradient(90deg, #fff 70%, #f0f0f0 100%);
  color: #ed6906;
}
#cw-radiotab1:checked ~ #cw-labeltab2,
#cw-radiotab2:checked ~ #cw-labeltab1 {
  background: #ed6906;
  color: #fff;
  cursor: pointer;
}
#cw-radiotab1:checked ~ #cw-tabimg1,
#cw-radiotab2:checked ~ #cw-tabimg2 {
  display: block;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.32);
}
#cw-radiotab1:checked ~ #cw-tabimg2,
#cw-radiotab2:checked ~ #cw-tabimg1 {
  display: none;
}
/*  ------------------------------- Table in Module   -----------------------------  */
[class|="cw-moduletable"] {
  max-height: 24em;
  overflow: auto;
  margin: 64px;
}
[class|="cw-moduletable"] table {
  border-collapse: collapse;
}
[class|="cw-moduletable"] th {
  font: 400 1.25em "Exo 2";
}
[class|="cw-moduletable"] tr {
}
[class|="cw-moduletable"] th {
  padding-bottom: 16px;
}
[class|="cw-moduletable"] td {
  padding: 12px 0;
}
[class|="cw-moduletable"] td:nth-child(2) {
  padding-left: 64px;
}
[class|="cw-moduletable"] td:first-child:not(.cw-tablesubtitle):not(.cw-tabletitle) {
  font: 300 1em "Exo 2";
  padding-right: 64px;
}
[class|="cw-moduletable"] .cw-tabletitle {
  font: 400 1.5em "Exo 2";
  border-bottom: 1px solid #fff;
  padding: 16px 0;
  text-transform: uppercase;
}
[class|="cw-moduletable"] .cw-tablesubtitle {
  font: 400 1.25em "Exo 2";
  border-bottom: 1px solid #fff;
  padding: 24px 0;
}
[class|="cw-moduletable"] .cw-tabletitlerow,
[class|="cw-moduletable"] .cw-tablesubtitlerow {
  border-bottom: none;
}
.cw-moduletable-inv {
  color: #fff;
}
/*  ------------------------------- Multipass Module (Homepage Teal Bottom)  -----------------------------  */
.cw-moduleimg-multi,
.cw-moduleimg-multi figure {
  display: flex;
  align-items: center;
}
.cw-moduleimg-multi figcaption {
  flex: 1 1 100%;
  padding: 8px;
  font-weight: 700;
}
.cw-multi-pass {
  background: #006b6b;
  color: #fff;
}
.cw-multi,
.cw-pass {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}
.cw-multi {
  display: flex;
  font: 400 1em "Exo 2";
}
.cw-multi-left,
.cw-multi-right {
  display: none;
}
.cw-multi-item {
  padding: 10px 40px;
  margin: 40px 0;
  text-transform: uppercase;
  position: relative;
  border-left: 1px solid #fff;
}
.cw-multi-active {
}
.cw-multi-active:after {
  content: url("../IMG/cw-multi-arrow.svg");
  position: absolute;
  width: 64px;
  bottom: -42px;
  right: calc(50% - 32px);
}
.cw-multi-item:first-child {
  border: none;
}
.cw-multi-item {
  cursor: pointer;
}
.cw-pass-item {
  display: none;
  padding: 20px 40px;
  align-items: center;
  border-top: 1px solid #fff;
  margin-top: 30px;
}
.cw-pass-active {
  display: flex;
}
.cw-icon-PhoneSIM:before {
  content: url("../IMG/cw-phone-SIM.svg");
  display: inline-block;
  width: 72px;
  padding: 16px;
}
/*  -------------------------------------- Product Landing  ----------------------------------------   */
.cw-main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 64px;
  margin: 0 auto;
  max-width: 1440px;
}
[class|="cw-breadcrumbs"] {
  flex: 1 0 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 8px 64px;
}
[class|="cw-breadcrumbs"] a {
  font: 400 1rem 'Exo 2';
  text-transform: uppercase;
  color: #006b6b;
}
.cw-breadcrumbs-white a {
  color: #fff;
}
[class|="cw-breadcrumbs"] a:not(:last-of-type):after {
  content: '>';
}
.cw-title {
  flex: 1 0 100%;
  margin: 0 auto 32px;
  max-width: 1440px;
  font: 300 2.25rem 'Exo 2';
  text-transform: capitalize;
  color: #d63f19;
}
.cw-category-tools {
  padding: 0 16px 64px 0;
  flex: 0 2 auto;
  min-width: 275px;
}
.cw-category-tools-x {
  display: none;
}
.cw-sub-section-title {
  font: 400 1em 'Exo 2';
  text-transform: uppercase;
  color: #d63f19;
  margin-bottom: 16px;
}
.cw-tool-component {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.cw-tool-component label {
  flex: 0 1 100%;
  display: block;
  margin-bottom: 8px;
}
.cw-textInput-fused {
  font: 400 0.8rem 'Lato';
  padding: 8px 16px;
  border-color: #5d5d5d;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 3px 0 0 3px;
}
.cw-tool-component .cw-submit-fused {
  padding: 8px 12px 8px 16px;
  border: 1px solid #5d5d5d;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.cw-tool-component .cw-submit-fused img {
  display: block;
  content: url("../IMG/cw-triArrow-teal.svg");
  width: 14px;
}
.cw-cat-content {
  border-left: 1px solid #006b6b;
}
.cw-compare-component {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
}
[class|="cw-compare-item"] {
  flex: 0 0 50%;
  padding: 8px 0;
  border-style: dashed;
  border-color: #5d5d5d;
  border-width: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.cw-compare-del {
  content: url("../IMG/cw-xcircle-teal.svg");
  display: inline-block;
  width: 16px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.cw-compare-item-off {
  background: url("../IMG/cw-compare-icon.svg") center / 64px no-repeat;
}
[class|="cw-compare-item"]:nth-of-type(1),
[class|="cw-compare-item"]:nth-of-type(2) {
  border-bottom-width: 1px;
}
[class|="cw-compare-item"]:nth-of-type(1),
[class|="cw-compare-item"]:nth-of-type(3) {
  border-right-width: 1px;
}
.cw-compare-img {
  max-width: 65px;
  margin-bottom: 8px;
}
.cw-compare-text {
  max-width: 100px;
  white-space: nowrap;
  font-size: 0.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  /*text-align: center;*/
}
.cw-compare-clear {
  text-align: center;
  flex: 1 0 100%;
  color: #006b6b;
  padding: 8px 0;
  cursor: pointer;
}
.cw-compare-clear:after {
  content: url("../IMG/cw-xcircle-teal.svg");
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
}
.cw-compare-button {
  margin: 0 auto;
}
.cw-cat-content {
  flex: 1 2 0%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 48px;
}
.cw-cat-item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  align-items: center;
}
.cw-cat-item-img {
  width: 128px;
}
.cw-cat-item-text {
  text-align: center;
  margin-top: 8px;
}
.cw-cat-item-price {
  font: 400 32px 'Exo 2';
  color: #d63f19;
}
.cw-cat-item-price:before {
  content: "$";
  font-size: 0.75em;
  vertical-align: top;
}
.cw-cat-item-cents {
  font-size: 0.75em;
  vertical-align: top;
}
.cw-cat-item-addCompare {
  color: #006b6b;
  font-size: 0.8em;
  padding: 8px 0;
}
.cw-cat-item-addCompare:after {
  content: url("../IMG/cw-triArrow-teal.svg");
  display: inline-block;
  width: 10px;
  vertical-align: middle;
  padding-left: 8px;
}
.cw-content-tools {
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  margin-bottom: 32px;
  justify-content: space-between;
}
.cw-content-tools .cw-tool-component {
  margin: 0
}
.cw-content-tools .cw-sub-section-title {
  margin: 0 16px 0 0;
  display: flex;
  align-items: center;
}
.cw-select::-ms-expand {
  display: none;
}
.cw-select {
  font: 400 0.8rem 'Lato';
  padding: 8px 32px 8px 16px;
  border: 1px solid #5d5d5d;
  border-radius: 3px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: no-repeat right 16px center / 12px url("../IMG/cw-triArrow-teal-down.svg");
}
.cw-select:checked {
  background: no-repeat right 16px center / 12px url("../IMG/cw-triArrow-teal-up.svg");
  /*content: url("../IMG/cw-triArrow-teal.svg");*/
}
.cw-viewToggle,
.cw-mobile-toolsToggle {
  color: #006b6b;
  text-transform: uppercase;
  cursor: pointer;
}
.cw-viewToggle:before,
.cw-mobile-toolsToggle:before {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.cw-viewToggle:before {
  content: url("../IMG/cw-grid-toggle.svg");
}
.cw-mobile-toolsToggle:before {
  content: url("../IMG/cw-sort-toggle.svg");
}
.cw-mobile-toolsToggle {
  display: none
}
.cw-option {
  padding: 16px;
}
/* ------------------------------------------------------- Product Page -------------------------------------------*/
.cw-product {
  display: flex;
  align-items: flex-start;
}
.cw-product-mainimage {
  flex: 3 1 360px;
  padding: 32px;
}
.cw-product-maininfo {
  flex: 1 3 auto;
}
.cw-product-mainprice {
  font: normal 2rem 'Exo 2';
  color: #d63f19;
  padding: 16px 0;
}
.cw-product-mainprice:before {
  content: "$";
  font-size: 0.5em;
  vertical-align: super;
}
.cw-product-cents {
  font-size: 0.5em;
  vertical-align: super;
}
.cw-product-compatibility {
  font-weight: normal;
  font-size: 0.9em;
}
.cw-product-plans {
  padding-top: 0.5em;
  display: block;
  color: #006b6b;
}
.cw-product-plans:after,
.cw-product-addcompare:after {
  content: url("../IMG/cw-triArrow-teal.svg");
  display: inline-block;
  width: 12px;
  vertical-align: baseline;
  padding-left: 8px;
}
.cw-product-description {
  padding: 16px 32px 16px 0;
  font-size: 0.9em;
}
.cw-product-stock-yes {
  padding: 0 32px 8px 0;
}
.cw-product-addcompare {
  display: block;
  padding: 16px 16px 32px 0;
  color: #006b6b;
}
.cw-fullwidth-orange {
  background: #d63f19;
}
.cw-product-specs {
  margin: 0 auto;
  display: flex;
  max-width: 1400px;
  color: #fff;
  align-items: center;
}
.cw-product-speclist {
  flex: 0 1 auto;
  list-style: none;
  padding: 64px 64px 0 64px;
}
[class|="cw-speclist"] {
  display: block;
  padding: 8px 128px 0 0;
}
.cw-speclist-item {
  font-family: 'Exo 2';
}
.cw-speclist-value {
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}
.cw-product-longdesc {
  flex: 1 1 auto;
  padding: 64px;
  max-width: 40em;
}
/*  ====================================================== Mobile Styles ========================================= */
@media screen and (max-width: 1024px) {
  .cw-header {
    min-height: 260px;
    background: linear-gradient(3deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100px, rgba(0, 0, 0, 0.5) 110px, rgb(255, 255, 255) 115px, rgb(255, 255, 255) 100%);
  }
  .cw-headercontent {
    display: block;
    max-width: none;
    margin: 0;
    padding: 0;
  }
  .cw-logo {
    position: absolute;
    width: 100%;
  }
  .cw-logo img {
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    margin-top: 64px;
    padding-right: 64px;
  }
  .cw-mobilemenu:before {
    content: url("../IMG/cw-menu.svg");
    display: block;
    position: absolute;
    width: 48px;
    right: 24px;
    top: 108px;
    cursor: pointer;
  }
  #cw-mobilemenu:checked + .cw-mobilemenu:before {
    content: url("../IMG/cw-menu-x.svg");
  }
  [class|="cw-nav-item"]:not(.cw-nav-account):not(.cw-nav-cart) {
    display: none;
  }
  #cw-mobilemenu:checked ~ .cw-nav-main [class|="cw-nav-item"],
  #cw-mobilemenu:checked ~ .cw-nav-main .cw-nav-list:before {
    display: block;
  }
  .cw-nav-list {
    padding-top: 16px;
    align-items: flex-start;
  }
  .cw-nav-list:before {
    order: 2;
    height: 120px;
  }
  [class|="cw-nav-item"] {
    flex: 1 1 100%;
    order: 3;
    text-align: right;
    padding: 8px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #5d5d5d;
  }
  .cw-nav-item-top {
    order: 4;
  }
  .cw-nav-item-top .cw-nav-clicktarget,
  .cw-nav-item-top .cw-nav-clicktarget {
    font: 700 1em 'Exo 2';
    text-transform: uppercase;
    padding: 8px 16px;
    border: none;
  }
  .cw-nav-account,
  .cw-nav-cart {
    border: none;
    order: 1;
  }
  .cw-nav-account .cw-nav-clicktarget,
  .cw-nav-cart .cw-nav-clicktarget {
    font: 400 1em 'Lato';
    text-transform: none;
  }
  .cw-nav-account .cw-nav-clicktarget {
    border-left: 1px solid #5d5d5d;
  }
  .cw-nav-account {
    flex: 0 1 auto;
    padding: 0;
  }
  .cw-nav-cart {
    flex: 4 0 auto;
    text-align: right;
    padding: 0;
  }
  .cw-cart-items {
    top: 16px;
  }
  .cw-nav-item:hover .cw-nav-sublist,
  .cw-nav-sublist {
    position: static;
    display: flex;
    flex-direction: column;
    width: auto;
    box-shadow: none;
    padding: 0 0 0 20vw;
    margin: 0;
  }
  .cw-nav-subitem {
    border-top: 1px dotted #5d5d5d;
  }
  .cw-nav-subitem .cw-nav-clicktarget {
    text-transform: none;
    font: 400 1em 'Lato';
  }
  /* Mobile Homepage modules */
  .cw-multi-pass {
    position: relative;
    overflow: hidden;
  }
  .cw-multi-left,
  .cw-multi-right {
    position: absolute;
    width: 64px;
    display: block;
    top: calc(50% - 16px);
    cursor: pointer;
  }
  .cw-multi-left {
    transform: rotate(-90deg);
    left: 0;
  }
  .cw-multi-right {
    transform: rotate(90deg);
    right: 0;
  }
  .cw-multi,
  .cw-pass {
    display: block;
    white-space: nowrap;
    padding: 0;
    transition: transform 300ms ease-out;
  }
  .cw-multi-item,
  .cw-pass-item {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: none;
    white-space: normal;
    padding: 20px 60px;
    opacity: 0;
    transition: opacity 300ms ease-out;
  }
  .cw-multi-active,
  .cw-pass-active {
    opacity: 1;
  }
  .cw-multi-active:after {
    display: none;
  }
  .cw-pass-active {
    flex-direction: column;
  }
  /*  ========================================== Advantages  (Mobile) ===============================   */
  [class|="cw-module"] {
    padding-top: 64px;
  }
  [class|="cw-modulecontent"] {
    flex-direction: column;
  }
  [class|="cw-moduleimg"] {
    order: -1;
    padding: 0;
  }
  .cw-module-orangetop,
  .cw-module-whitetopshadow {
    background: #d63f19;
  }
  .cw-module-whitetop {
    background: #fff;
  }
  .cw-moduleimg-bottom {
    order: 2;
  }
  .cw-module-orangetop [class|="cw-moduletext"],
  .cw-module-whitetop [class|="cw-moduletext"],
  .cw-module-whitetopshadow [class|="cw-moduletext"] {
    margin-top: 0;
  }
  .cw-moduletext {
    padding: 32px 0;
  }
  /*  ========================================== Category Landing  (Mobile) ===============================   */
  .cw-main {
    padding: 0 16px;
  }
  .cw-category-tools {
    position: fixed;
    overflow: hidden;
    padding: 24px;
    top: 0;
    left: 0;
    background: #fff;
    max-width: 290px;
    z-index: 2;
  }
  .cw-modal-overlay {
    position: fixed;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .cw-category-tools-x {
    display: block;
    text-align: right;
  }
  .cw-category-tools-x:before {
    content: url("../IMG/cw-x.svg");
    width: 32px;
    display: inline-block;
    cursor: pointer;
  }
  .cw-tool-component {
    margin-bottom: 32px;
  }
  .cw-content-tools {
    padding: 0 16px;
  }
  .cw-mobile-toolsToggle {
    display: block
  }
  .cw-content-tools .cw-tool-component {
    display: none;
  }
  .cw-cat-content {
    border: none;
    padding: 0;
  }
  .cw-cat-item {
    flex: 1 1 30%;
  }
  /*  ========================================== Product Page  (Mobile) ===============================   */
  .cw-product {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .cw-product-maininfo {
    max-width: 35em;
    text-align: center;
  }
  .cw-product .cw-compare-component {
    display: none;
  }
  .cw-product-specs {
    flex-direction: column;
  }
  /* Footer */
  [class|=cw-footer] nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  [class|=cw-footer] nav ul a {
    display: inline-block;
    padding: 9px 16px;
  }
}